@tailwind base;
@tailwind components;
@tailwind utilities;

/* @import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;700&family=Montserrat:wght@300;400;700&display=swap"); */

@import url("https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@300;400;500;600;700&display=swap");

body {
  /* font-family: "Montserrat", sans-serif; */
  font-family: "Bai Jamjuree", sans-serif;
}

:root {
  /* --glow-color: hsl(186 100% 69%); */
  --glow-color: hsl(28, 93%, 62%);
  /* --clr-neon: hsl(28, 93%, 62%); */
  /* --clr-neon: hsl(271, 76%, 53%); */
  /* --clr-neon: hsl(28, 93%, 62%); */
  --clr-neon: hsl(211, 76%, 51%);
}

.heading1 {
  @apply text-5xl 
 font-semibold text-center mb-6;
  /* font-family: "EB Garamond", serif; */
  font-family: "Bai Jamjuree", sans-serif;
}

.heading2 {
  @apply text-4xl 
  font-semibold text-center mb-4;
  /* font-family: "EB Garamond", serif; */
  font-family: "Bai Jamjuree", sans-serif;
}
.heading3 {
  @apply text-3xl 
  font-semibold text-center mb-2;
  /* font-family: "EB Garamond", serif; */
  font-family: "Bai Jamjuree", sans-serif;
}

.gradientLine {
  @apply w-full h-0.5 mt-2
      bg-gradient-to-br
      from-[#a373d4] to-mkPurple
      group-hover:bg-gradient-to-bl;
}

.glowing-btn {
  position: relative;
  color: var(--glow-color);
  cursor: pointer;
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-color);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Raleway", sans-serif;
  font-size: 1.5em;
  font-weight: 900;
  letter-spacing: 0.1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
    0px 0px 0.5em 0px var(--glow-color);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;

  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-color);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-color);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-color);
  box-shadow: 0 0 2em 0.2em var(--glow-color);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(245, 244, 244, 0.8);
  /* color: rgba(0, 0, 0, 0.8); */
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

/* neon pink */

.neon-button {
  font-size: 1.4rem;

  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: var(--clr-neon);
  /* color: #103b68; */
  border: var(--clr-neon) 0.125em solid;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em currentColor;

  box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);

  position: relative;
}

.neon-button::before {
  pointer-events: none;
  content: "";
  position: absolute;
  background: var(--clr-neon);
  top: 120%;
  left: 0;
  width: 100%;
  height: 100%;

  transform: perspective(1em) rotateX(40deg) scale(1, 0.35);
  filter: blur(1em);
  opacity: 0.7;
}

.neon-button::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  box-shadow: 0 0 2em 0.5em var(--clr-neon);
  opacity: 0;
  background-color: var(--clr-neon);
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {
  color: #eae9ea;
  color: var(--clr-bg);
  text-shadow: none;
}

.neon-button:hover::before,
.neon-button:focus::before {
  opacity: 1;
  color: #eae9ea;
}
.neon-button:hover::after,
.neon-button:focus::after {
  opacity: 1;
  color: #eae9ea;
}

@media (min-width: 1000px) {
  .bg-tabs {
    width: 2000px;
    height: 300px;
    right: 60%;
    @apply absolute rounded-r-full top-60 bg-[#FFA500]/80;
  }
}



.bubble img {
  animation: bubble 7s linear infinite;
}

@keyframes bubble {
  0%{ transform: translateY(0px); opacity: 0; }
  50%{ opacity: 1;  }
  75%{ opacity: 1; }
  100%{ transform: translateY(-80vh); opacity: 0 }
}

.bubble img:nth-child(1){
  animation-delay: 2s;
  width: 25px;

}
.bubble img:nth-child(2){
  animation-delay: 1s;
}
.bubble img:nth-child(3){
  animation-delay: 3s;
  width: 25px;
}
.bubble img:nth-child(4){
  animation-delay: 4.5s;
}
.bubble img:nth-child(5){
  animation-delay: 3s;
  width: 15px;
}
.bubble img:nth-child(6){
  animation-delay: 6s;
  
}
.bubble img:nth-child(7){
  animation-delay: 7s;
  width: 9px;
}
.bubble img:nth-child(8){
  animation-delay: 1s;
  width: 25px;
}
.bubble img:nth-child(9){
  animation-delay: 4s;
  width: 15px;
}
.bubble img:nth-child(10){
  animation-delay: 3s;
  width: 15px;
}
.bubble img:nth-child(11){
  animation-delay: 5s;
}
